{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}"><button type = "button" class= "btn btn-primary"><i class="fa fa-eye"></i></button></a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}"><button type = "button" class= "btn btn-primary"><i class="fa fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
