{% extends 'base.html.twig' %}

{% block title %}{{voiture.nom}}{% endblock %}

{% block body %}
    <!-- Product section-->
    <section class="py-5 mt-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{voiture.photo ? voiture.photo : "https://dummyimage.com/600x700/dee2e6/6c757d.jpg"}}" alt="..." /></div>
                <div class="col-md-6">
                    <div class="small mb-1">ID: {{ voiture.id }}</div>
                    <h1 class="display-5 fw-bolder">{{ voiture.nom }}</h1>
                    <div class="fs-5 mb-5">
                        <span>{{ voiture.prix }}/Jour</span>
                    </div>
                    <p class="lead">Marque: {{ voiture.marque }}<br>Modéle: {{ voiture.modele }}<br>Description: {{ voiture.description }}</p>
                    <div class="d-flex">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Allouer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Autres voitures de modele {{voiture.modele}}</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for v in voitures %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{v.photo ? v.photo : "https://dummyimage.com/450x300/dee2e6/6c757d.jpg"}}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{v.nom}}</h5>
                                <!-- Product price-->
                                {{v.prix}}/Jour
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('voiture_show', {'id': v.id}) }}">Plus de détails</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ voiture.nom }}</td>
            </tr>
            <tr>
                <th>Matricule</th>
                <td>{{ voiture.matricule }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ voiture.photo }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ voiture.prix }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.modele }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.marque }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ voiture.dispo ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ voiture.description }}</td>
            </tr>
        </tbody>
    </table> #}

    <a href="{{ path('voiture_index') }}">back to list</a>

    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>

    {{ include('voiture/_delete_form.html.twig') }}
{% endblock %}
